:root {
    --primary-color: hsl(196, 78%, 61%);
    --secondary-color: hsl(217, 15%, 83%);
    --success-color: hsl(165, 58%, 55%);
    --info-color: hsl(214, 79%, 65%);
    --warning-color: hsl(43, 100%, 66%);
    --danger-color: hsl(354, 81%, 63%);
    --primary-color-darker: hsl(196, 68%, 54%);
    --secondary-color-darker: hsl(215, 13%, 70%);
    --success-color-darker: hsl(165, 55%, 48%);
    --info-color-darker: hsl(214, 68%, 58%);
    --warning-color-darker: hsl(39, 97%, 62%);
    --danger-color-darker: hsl(354, 67%, 56%);
    --primary-color-lighter: hsl(196, 78%, 81%);
    --secondary-color-lighter: hsl(214, 16%, 92%);
    --success-color-lighter: hsl(165, 58%, 75%);
    --info-color-lighter: hsl(214, 79%, 85%);
    --warning-color-lighter: hsl(43, 100%, 86%);
    --danger-color-lighter: hsl(354, 81%, 83%);
    --secondary-color-darkest: hsl(215, 11%, 30%);
    --secondary-color-lightest: hsl(220, 1%, 98%);
    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.container-all {
    width: 85%;
    margin: auto;
}

.grid-container-all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    position: relative;
}

.grid-item {
    padding: 1em 10px;
    position: relative;
    -webkit-box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.13);
    transition: all 300ms ease-in-out;
}

.grid-item > p {
    text-align: center;
}

input[type=checkbox] {
    --checkbox-width: 1.125rem;
    --checkbox-bg: white;
    --checkbox-radius: 4px;
    --checkbox-border-color: var(--secondary-color);
    --checkbox-hover-border-color: var(--secondary-color-darker);
    --checkbox-checked-bg: var(--primary-color);
    --checkbox-disabled-bg: var(--secondary-color-lighter);
    --checkbox-disabled-checked-bg: var(--secondary-color-darker);
    width: var(--checkbox-width);
    height: var(--checkbox-width);
    position: relative;
    background: white;
    border: 1px solid gray;
    border-radius: var(--checkbox-radius);
    transition: .3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    cursor: pointer;
}

input[type=checkbox]:checked {
    --checkbox-border-color: var(--checkbox-hover-border-color);
    background: var(--primary-color);
    border: 1px solid var(--primary-color);

}

.grid-item:hover {

    -webkit-box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 1px 11px 1px rgba(0, 0, 0, 0.23);
}

.check-box-container {
    position: absolute;
    top: 1em;
    left: 1em;
}

.button-header-cotainer {
    position: absolute;
    top: -75px;
    right: 0;
}


.button-header-cotainer > div > button,
.button-header-cotainer > div > a > button {
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.button-header-cotainer > div > a > button {

    background: #4ec0e9;

}

#delete-product-btn {

    background: #f55656;
}

.button-header-cotainer > div > button:hover,
.button-header-cotainer > div > a > button:hover {
    opacity: 0.7;
}


input[type=checkbox]:checked::after {
    content: ' \2714';
    color: white;
    position: absolute;
    top: -1px;
    left: 2px;
    width: 100%;
    height: 100%;


}

.grid-form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
}

.preference > label {
    padding-right: 1em;
    display: inline-block;
    width: 100px;
}

@media only screen and (max-width: 800px) {

    .grid-container-all {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 425px) {
    .grid-container-all {
        display: grid;
        grid-template-columns: 1fr;
    }

    .button-header-cotainer > div > button,
    .button-header-cotainer > div > a > button {
        width: max-content;
        font-size: 12px;
    }

    .container-all > h1 {
        font-size: 18px;
    }


    .button-header-cotainer {
        position: absolute;
        top: -65px;
        right: 0;
    }
}

@media only screen and (max-width: 350px) {

    .button-header-cotainer {
        position: absolute;
        top: -31px;
        right: 0;
    }
}