.container-all {
    position: relative;
}

.button-header-cotainer {

    position: absolute;
    top: 40px;
    right: 120px;

}

.button-header-cotainer > button,
.button-header-cotainer > a > button {
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.button-header-cotainer > a > button {

    background: #da4453;

}


.button-header-cotainer > button {
    background: #3aafd9;
}

.button-header-cotainer > button:hover,
.button-header-cotainer > a > button:hover {
    opacity: 0.7;
}

#selectedItem > .preference {
    margin-bottom: 1em;
}

input::placeholder {
    font-size: 11px;
}

select {
    background: black;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.preference > label {
    width: auto;
}

.preference {
    position: relative;
}

.currency-code {
    position: absolute;
    top: 38px;
    left: 8px;
}

.grid-form-container {
    width: 30%;
!important;
}

.currency-code-2 {
    position: absolute;
    top: 38px;
    right: 10px;
}

.form-product-cotainer {
    position: relative;
}

#selected-preference {
    position: absolute;
    left: 25em;
}

@media only screen and (max-width: 770px) {


    #selected-preference {
        position: absolute;
        left: 21em;
    }

    .grid-form-container {
        width: 40%;

    }

    .button-header-cotainer > button,
    .button-header-cotainer > a > button {
        font-size: 12px;

    }

    #selected-preference {
        position: absolute;
        left: 20em;
    }

}

@media only screen and (max-width: 425px) {
    #selected-preference {
        position: static;
        margin-bottom: 2em;
    }

    .grid-form-container {
        width: 100%;

    }

    .button-header-cotainer {
        position: absolute;
        top: 10px;
        right: 75px;
    }
}
